

label {
    display: block;
    margin-top: 10px;
}

.card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
}

.card {
    background-color: #2a7c59;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 100%;
    height: 100%;
    margin: 0 auto 10px;
    display: block;
    /* -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; */
}

.error-feedback {
    color: red;
}

#textboxid {
    height: 200px;
    font-size: 14pt;
}

.btn {background-image: linear-gradient(to right,  #00e600 0%, #3e5058  51%,  #00e600  100%) !important}

/* .btn:hover {
    color: #756262;
    background-color: #76575727;
    border-color: #968080ab;
} */

.btn{
    text-transform: uppercase !important;
    transition: 0.5s !important;
    background-size: 200% auto !important;
    color: white !important;            
    box-shadow: 0 0 20px #eee !important;
    border-radius: 10px !important;
}

.btn:hover {
    background-position: right center !important; /* change the direction of the change here */
    color: #fff !important;
    text-decoration: none !important;
  }

/* .btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(94, 74, 44, 0.315);
} */

.form-control:focus {
    color:  #00e600 !important;
    background-color: #fff !important;
    border-color:  #00e600 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.1rem  #00e600 !important;
}



label {
    color: #789c73;
}

input[type="checkbox"] {
    filter: sepia(90%);
    -webkit-filter: sepia(90%);
    -moz-filter: sepia(90%);
}


.form-control:hover{
    border: solid 2px green !important; 
}

.form-control{
    border-color:  #00e600 !important;
    border-radius: 15px !important;
}

header{
    border-bottom: solid 1px  #00e600 !important ;
}

.nav-link{
    color:  #00e600 !important;
    border: solid 1px  #00e600 !important;
    border-radius: 15px !important;
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 150ms !important;
    box-shadow: inset 0 0 0 0  #00e600 !important; 
    color: rgba(35, 33, 33, 0.821) !important;
    transition: color .10s ease-in-out, box-shadow .3s ease-in-out !important;
}

.nav-link:focus,
.nav-link:hover{
    box-shadow: inset 385px 0 0 0  #00e600 !important;
  color: white !important;
}


.nav-link-profile{
    margin-right: 8px !important;
}

.jumbotron{
    border: solid 2px  #00e600 !important;
    border-radius: 20px !important;
}
footer{
    border-top: solid 2px  #00e600 !important;
}


